<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
        <div class="logo text-center">
            <img src="assets/images/logo-big.png" alt="{{app.name}}" class="img-responsive" />
        </div>
        <p class="text-center text-dark text-bold text-extra-large margin-top-15">
            Welcome
        </p>
        <p class="text-center">
            You can endores several kinds of business.
        </p>
        <p class="text-center">
            Please Log in with your facebook account.
        </p>
        <!-- start: LOGIN BOX -->
        <div class="box-login" ng-controller="LoginCtrl">
            <form class="form-login">
                <div class="form-actions">
                    <button type="button" fb-login class="btn btn-red btn-block">
                        FaceBook Login
                    </button>
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="remember" value="1">
                        <label for="remember"> Keep me signed in </label>
                    </div>
                </div>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
