<!-- start: USER OPTIONS -->
<div class="nav-user-wrapper">
    <div class="media">
        <div class="media-left">
            <a class="profile-card-photo" href="#"><img alt="" ng-src="{{user.profile_url}}"></a>
        </div>
        <div class="media-body">
            <span class="media-heading text-white">{{user.name}}</span>
            <div class="text-small text-white-transparent">
                Manager
            </div>
        </div>
    </div>
</div>
<!-- end: USER OPTIONS -->
<!-- start: SIDEBAR -->
<nav data-ng-include=" 'assets/views/admin/partials/nav.html' "></nav>
<!-- end: SIDEBAR -->
